/* Header Section Start */
header {
  background-color: #109e97;
  text-align: center;
  padding: 33px 0 49px;
  border-bottom: 1px solid black;
}

header h1 {
  font-style: italic;
  color: white;

  font-weight: 400;
  font-size: 49px;
  line-height: 50px;
}
/* Header Section End */

/* Main Section Start */
main {
  text-align: center;
  padding: 102px 0 230px;
}

img {
  width: 300px;
}

.book-info-right {
  display: inline-block;
  width: 40%;
  margin-left: 82px;
}

.book-title {
  text-align: left;
  margin-bottom: 120px;
}

.book-title h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 26px;
  margin-bottom: 16px;
}

.price {
  color: #008000;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 25px;
}

.price span {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #ff0000;
}

.book-desc {
  text-align: left;
}

.book-desc h4 {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
}

.book-desc p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 2px;
  margin: 16px 0;
}

.btn {
  padding: 13px 19px;
  color: white;
  background: #109e97;
  border: 1px solid #109e97;
  border-radius: 4px;
}

table {
  width: 60%;
  text-align: left;
  margin-left: 370px;
  border-collapse: collapse;
}

caption {
  margin-top: 103px;
  margin-bottom: 22px;
}

tr {
  border-top: 1px solid black;
}

tr:last-child {
  border-bottom: 1px solid black;
}

th,
td {
  display: inline-block;
  margin: 5px 0;
}

th {
  width: 200px;
}

td {
  margin-left: 300px;
}

form {
  display: inline-block;
  margin: 17px 91px 0;
}
/* Main Section End */
