button {
  padding: 10px;
  border: none;
  background-color: green;
  color: white;
  cursor: pointer;
  border-radius: 10px;

  /* transition: background-color 3s, padding 3s; */

  transition: all 3s ease 1s;
  /* transition-property: padding; */
  /* transition-duration: 3s; */
  /* transition-delay: 1s; */
}

/* 
button:hover {
  background-color: red;
  padding: 30px;
  font-size: 20px;
} */

/* transition  */
/* transition-delay
transition-duration
transition-property
transition-timing-function */

div {
  /* width: 100px; */
  /* height: 100px; */
  /* padding: 10px;
  background-color: red;
  margin: 20px; */

  /* transition-duration: 3s; */

  /* transform: translateX(300px); */
  /* transform: translateY(300px); */

  /* transform: skewX(89deg); */

  /* width: 300px; */
  overflow: hidden;
  /* background-color: red; */
}

/* .ease {
  transition-timing-function: ease;
}

.linear {
  transition-timing-function: linear;
}

.ease-in {
  transition-timing-function:// ease-in;
}

.ease-out {
  transition-timing-function: ease-out;
}

.ease-in-out {
  transition-timing-function: ease-in-out;
} */

div:hover {
  /* width: 300px; */
  /* transform: translate(300px, 200px); */

  /* transform: rotate(180deg); */

  /* transform: scale(1.1); */
}

img {
  transition: 1s;
  width: 100%;
  margin: 50px;
}

img:hover {
  transform: scale(1.1);
}

body {
  background-color: pink;
}

#box {
  width: 200px;
  height: 200px;
  background-color: black;
  color: white;

  animation: heartBeat; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */

  /* animation-name: changeMovement; */
  /* animation-name: changeColor; */
  /* animation-duration: 3s; */
  /* animation-iteration-count: infinite; */
  /* animation-timing-function: cubic-bezier(.01,.87,.89,.04); */
  /* animation-delay: 3s; */

  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}

@keyframes changeColor {
  /* from {
    background-color: blue;
  }
  to {
    background-color: yellow;
  } */

  0% {
    background-color: red;
  }
  10% {
    background-color: green;
  }
  20% {
    background-color: pink;
  }
  75% {
    background-color: yellow;
  }
  100% {
    background-color: red;
  }
}

/* @keyframes changeMovement {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(200px, 0);
  }
  50% {
    transform: translate(200px, 200px);
  }
  75% {
    transform: translate(0, 200px);
  }
  100% {
    transform: translate(0, 0);
  }
} */

.light-mode {
  background: #fff;
  color: #000;
}
